<html>
	<head>
		<title>{{ _('Index') }}</title>
	</head>
	<body>
		<p>{{ chat.name }}</p>
		<p>{{ chat.sim_new }}</p>
		<p>{{ chat.sim_old }}</p>
		<a href="/logout">{{ _('Logout') }}</a>

		<div id="chatbox">
			{% for com in chat.coms %}
				<li>{{ escape(com['que_str']) }}</li>
				<li>{{ escape(com['ans']['content']) }}</li>
			{% end %}
		</div>
			
		<div id="que_type">
			<form action="/que_add" method="POST">
				<input type="hidden" name="que_content" value="{{ que_content }}">
				
				{{ _("Question Type") }}
				<input type="number" name="que_type" value="2" min="0" max="2" />
				<br/>

				<input type="submit" value="{{ _("确定") }}"/>
				<!-- {% module xsrf_form_html() %} -->
			</form>
		</div>
	</body>
</html>