<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ _("ChatBox") }}</title>

		<link rel="stylesheet" type="text/css" href="../static/index.css">
		<link rel="stylesheet" type="text/css" href="../static/chat.css">
	</head>
	<body>
		<div class="header">
		</div>
		<div role="main">
			<div class="container">
				<div class="chatbox">
					<div class="chatbox-msgbox">
						<ul>
							{% for com in chat.coms %}
								<li class="chat_right"><span>{{ escape(com['que_str']) }}</span></li>
								<li class="chat_left"><span>{{ escape(com['ans']['content']) }}</span></li>
							{% end %}
						</ul>
					</div>

					<div class="chatbox-quebox">
						<form action="/que_add" method="POST">
							<input type="hidden" name="que_content" value="{{ que_content }}">
			
							<input type="number" name="que_type" value="2" min="0" max="2" class="input-block form-control que_input" />
							<input type="submit" value="{{ _("确定") }}" class="btn btn-primary btn-block que_submit" />
							<!-- {% module xsrf_form_html() %} -->
						</form>
					</div>
				</div>

				<div class="dashboards">
					<div class="board">
						<h3>Chatter Message</h3>
						<div class="board-inner">
							<ul>
								<li>Name : {{ chat.name }}</li>
								<li>Sim New : {{ chat.sim_new }}</li>
								<li>Sim Old : {{ chat.sim_old }}</li>
								<li class="logout"><a href="/logout" >{{ _('结束训练') }}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>